'scopeName': 'source.tribal'
'name':      'Tribal'
'fileTypes': ['rit']

'patterns': [
    {
        'match': '\\b(([0-9]+\\.?[0-9]*)|(\\.[0-9]+))\\b'
        'name':  'constant.numeric.tribal'
    },
    {
        'begin': '\"'
        'end':   '\"'
        'name':  'string.quoted.double.tribal'
    },
    {
        'match': '(<<(?!\\|))|((?<!\\|)>>)|(=>)|(<=)'
        'name': 'keyword.control.tribal'
    },
    {
        'match': '(<:)|(:>)'
        'name': 'keyword.control.tribal'
    },
    {
        'match': '(\\b(eternal)\\b|\\b(while)\\b|\\b(if)\\b|\\b(elsif)\\b|\\b(else)\\b|\\b(for)\\b|\\b(loop)\\b|\\b(in)\\b|\\b(try)\\b|\\b(except)\\b|\\b(from)\\b|\\b(roadsign)\\b|\\b(shaman)\\b|\\b(withdraw)\\b|\\b(return)\\b)'
        'name':  'entity.name.section.tribal'
    },
    {
        'match': '(@\\w+)'
        'name':  'markup.bold.tribal'
    },
    {
        'match': '(\\bvoid((\\s)|[^ ]+))'
        'name':  'support.variable.tribal'
    },
    {   # condition expressions
        'match': '(\\|\\||&&|\\b(>)\\b|\\b(<)\\b|\\b(==)\\b|\\b(<>)\\b)'
        'name':  'keyword.operator.tribal'
    },
    {   # bool expressions
        'match': '(\\b(true)\\b|\\b(false)\\b|\\b(nil)\\b|\\b(nix)\\b)'
        'name':  'constant.language.tribal'
    },
    {   # data type
        'match': '(\\b(int)\\b|\\b(str)\\b|\\b(char)\\b|\\b(double)\\b|\\b(list)\\b|\\b(dict)\\b|\\b(enc)\\b|\\b(array)\\b|\\b(bool)\\b|\\b(float)\\b|\\b(forest)\\b|\\b(tup)\\b|\\b(short)\\b|\\b(long)\\b|\\b(aint)\\b|\\b(afloat)\\b|\\b(table)\\b|\\b(struct)\\b|\\b(fortress)\\b|\\b(any)\\b|\\b(empty)\\b|\\b(func)\\b|\\b(type)\\b|\\b(file)\\b|\\b(result)\\b|\\b(cls)\\b|\\b(self)\\b|\\b(colour)\\b|\\b(dye)\\b)'
        'name':  'entity.name.type.tribal'
    },
    {   # access type
        'match': '(\\b(final)\\b|\\b(var)\\b|\\b(new)\\b|\\b(private)\\b|\\b(protected)\\b|\\b(closed)\\b|\\b(do)\\b|\\b(raise)\\b)'
        'name':  'entity.name.tag.tribal'
    },
    {   # built-in functions
        'match': '(\\b(whisper)\\b|\\b(scribe)\\b|\\b(scroll)\\b|\\b(dream)\\b|\\b(travel)\\b|\\b(build)\\b|\\b(book)\\b|\\b(library)\\b)'
        'name':  'support.function.tribal'
    },
    {   # import statements
        'match': '(evoke |ritual |import |use )([^ ]+)'
        'captures':
            '1':
                'name': 'keyword.control.tribal'
            '2':
                'name': 'entity.name.function.tribal'
        'name': 'meta.function.tribal'
    },
    {   # functions/classes
        'match': '(town |land |village |def |class |island |interface |eticet |mainland |entry )(\\w+)'
        'captures':
            '1':
                'name': 'keyword.control.tribal'
            '2':
                'name': 'entity.name.function.tribal'
        'name': 'meta.function.tribal'
    },
    {   # enum type
        'match': '(tribe |enum )(\\w+)'
        'captures':
            '1':
                'name': 'constant.language.tribal'
            '2':
                'name': 'entity.name.function.tribal'
        'name': 'meta.function.tribal'
    },
    {
        'match': '(\\w+)(\\.\\w+\\?|\\.\\w+\\(\\)|\\.\\w+)'
        'captures':
            '1':
                'name': 'markup.heading.tribal'
            '2':
                'name': 'support.function.tribal'
        'name': 'meta.variable.tribal'
    },
    {   # comment (one-line)
        'match': '(\\|>(?!>).*)'
        'name':  'comment.line.character.tribal'
    },
    {   # comment (multi-line)
        'begin': '(\\|>>)'
        'end':   '(<<\\|)'
        'name':  'comment.block.tribal'
    },
    {   # comment (documentation)
        'match': '(\\|:.*)'
        'name':  'comment.block.documentation.tribal'
    }
]
